body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #F6F6F8;
}

#introduction {
    -moz-box-shadow:    inset 0 0 9px grey;
    -webkit-box-shadow: inset 0 0 9px grey;
    box-shadow:         inset 0 0 9px grey;
    width: 6em;
    border-radius: 25px;
}

hr.hrline {
    border-top: 4px solid grey;
    width: 2em;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
  }

hr.hrlogin {
    margin: auto;
  }

hr.registerhr {
    margin: auto;
  }

#blogcategories {
    display:inline-flexbox;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    text-align: center;
}


.navbar {
    background-color: #E3E3E3;
}

nav.navbar {
    height: 6rem !important;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06) !important;
}

#userlogin {
    display: flex;
    align-items: center;
}

#introduction {
    display:block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    color:grey;
	text-align:center;
	margin-top:200px;
	text-shadow:1px 1px 1px black;
	font-size:50px;
}

#box {
    display:block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -1em;
    color:grey;
	text-shadow:2px 2px 2px grey;
	font-size:50px;
}

#loginform, #logoutform, #registerform {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    color: black;
}

#categorypage {
    display:block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
}


#post {
    margin-top: -6em;
}

hr {
    border-top: 1px solid grey;
  }

.footer {
    background-color: #E3E3E3;
    margin-top:auto;
}