body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #F6F6F8;
}

.navbar {
    background-color: #E3E3E3;
}

#userlogin {
    display: flex;
    align-items: center;
}

#blogcategories {
    display:inline;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

#introduction {
    display:block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}


#loginform, #logoutform, #registerform {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    color: black;
}

#categorypage {
    display:block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
}

#post {
    margin-top: -6em;
}

hr {
    border-top: 1px solid grey;
  }

.footer {
    background-color: #E3E3E3;
    margin-top:auto;
}