<!-- Html code for post details page -->
{% extends 'blog/base.html' %}
{% load responsive_images %}
{% block title %} {{ post.title }} | {% endblock %}

{% block content %}
<!-- Dynamically generated page title. -->
<a id="detailpage" class="title is-2 is-capitalized has-text-centered" href="{% url 'category_detail' post.category.slug %}">{{ post.category }}</a>
<section id="post" class="hero">
    <div class="hero-body">
        <div class="container">
            <section class="section">
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                            <div class="content is-medium">
                                <h2 class="subtitle is-4">{{ post.created_at|date:'d-m-Y H:i' }}</h2>
                                <h1 class="title">{{ post.title }}</h1>
                                <p><strong>{{ post.intro }}</strong></p>
                                {% if post.image %}
                                <figure class="image">
                                    <!-- Image displayed via this url. -->
                                    <img src="{{ post.image.url }}">
                                </figure>
                                {% endif %}
                                <!-- "Safe" used for rich text editor to function properly for text writing/editing. -->
                                <p>{{ post.body|safe }}</p>

                                <hr>

                                <h2 class="subtitle is-4">Leave a comment:</h2>

                                <form method="post" class="mb-6">
                                    <!-- A CSRF token is a secure random token that is used to prevent CSRF attacks. -->
                                    {% csrf_token %}

                                    {{ form.as_p }}
                                    <!-- Only registered/logged in users can submit comments.-->
                                    {% if user.is_authenticated %}
                                    <div class="field">
                                        <div class="control">
                                            <button class="button is-success">Submit</button>
                                        </div>
                                    </div>
                                </form>
                                <!-- Looping over comments. -->
                                {% for comment in post.comments.all %}
                                    <article class="media box">
                                        <div class="media-content" id="commentbox">
                                            <strong>{{ comment.name }}</strong> <small>{{ comment.created_at|date:'d-m-Y H:i' }}</small><br>
                                            <br>
                                            {{ comment.body }} 
                                            <br>
                                            <!-- If user is logged in, user can edit or delete comments via buttons below. -->
                                            {% if user.username == comment.name %}
                                            <button class="button is-secondary"><a id="editbutton" href="{% url 'editComment' comment.id %}">Edit</a>
                                            <button class="button is-danger"><a id="deletebutton" href="{% url 'deleteComment' comment.id %}">Delete</a>
                                            {% endif %}
                                        </div>
                                    </article>
                                {% endfor %}
                                    {% else %}
                                    <!-- Message displayed for users who are not registered or logged in. -->
                                    <!-- Those potential users can login or register below. -->
                                <p>You can't see or leave comments if you are not registered user. 
                                    Don't have an account? Create one <a href="{% url 'register' %}">Here</a>!</p>
                                <p>You already have an account? Login <a href="/login">Here</a>!</p>
                            </div>
                                    {% endif %}
                   </div>
               </div>
           </section>
        </div>
        <!-- Back button which returns user one page -->
        <div id="back-button" class="back-button">
            <button class="button is-rounded"><a id="back" href="{% url 'category_detail' post.category.slug %}">BACK</a>
        </div>
    </div>
</section>
{% endblock %}