{% extends 'blog/base.html' %} {% block title %} Login | {% endblock %} 
{% load crispy_forms_tags %} {% block content %}
<!-- Login page -->
<div id="loginform">
<form method="post">
  <h1>Log into your account below:</h1>
  <hr class="hrlogin">
  <!-- A CSRF token is a secure random token that is used to prevent CSRF attacks. -->
  {% csrf_token %}{{form|crispy}}
  <p>Don't have an account? Create one <a href="{% url 'register' %}">Here</a>!</p>
  <button type="submit" class="btn btn-success">Login</button>
</form>
</div>
{% endblock %}