{% extends 'blog/base.html' %} {% block title %} Register | {% endblock %} 
{% load crispy_forms_tags %} {% block content %}
<!-- Register page -->
<div id="registerform">
<form method="post">
<h1>Please register your account below:</h1>
<hr class="registerhr">
<!-- A CSRF token is a secure random token that is used to prevent CSRF attacks. -->
  {% csrf_token %}{{form|crispy}}
  <p>Have an account? Login <a href="/login">Here</a>!</p>
  <button type="submit" class="btn btn-success">Register</button>
</form>
</div>
{% endblock %}